# Part 0: Dependencies

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

In [2]:
g_key

'AIzaSyACPaFlveQjv8JpaQ-ltXX-PT4q2wKOIdU'

# Part 1: Load cities.csv into DataFrame

In [4]:
# Study data files
weather_info = "../WeatherPy/output_data/cities.csv"

# Read the weather data and the study results
weather_info = pd.read_csv(weather_info)

# Combine the data into a single dataset
weather_df = pd.DataFrame(weather_info)
weather_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Torbay,47.6666,-52.7314,24.64,88,93,17.20,CA,1613638800
1,1,Punta Arenas,-53.1500,-70.9167,43.86,77,79,6.46,CL,1613638800
2,2,Cherskiy,68.7500,161.3000,-28.05,98,3,0.58,RU,1613638800
3,3,Marzuq,14.4000,46.4667,86.85,13,0,3.36,YE,1613638800
4,4,Pyn U Lwin,22.0333,96.4667,87.73,24,18,8.59,MM,1613638800
...,...,...,...,...,...,...,...,...,...,...
583,583,Yanam,16.7333,82.2167,85.51,50,10,8.81,IN,1613638800
584,584,Chimbote,-9.0853,-78.5783,69.94,82,18,3.09,PE,1613638800
585,585,Darasun,51.6667,114.0000,28.17,69,69,7.16,RU,1613638800
586,586,Iaçu,-12.7672,-40.2117,72.00,96,100,1.57,BR,1613638800
587,587,Daru,-9.0763,143.2092,83.17,76,86,6.78,PG,1613638800

# Part 3: Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["Latitude", "Longitude"]]

#weatherdf = weatherdf.dropna()
humidity_rate = weather_df["Humidity"]

In [7]:
# Create a Heatmap layer
fig = gmaps.figure(center=(25, 0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, dissipating=False, max_intensity= np.max(humidity_rate), point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display Figure
fig

Figure(layout=FigureLayout(height='420px'))

# Part 4: Create new DataFrame fitting weather criteria

In [22]:
ideal_spots = weather_df.loc[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] == 0) & \
                                   (weather_df["Max Temp"] >= 60) & (weather_df["Max Temp"] <= 80)].dropna()

print(len(ideal_spots))

13


# Part 5: Hotel Map

In [23]:
#Store into variable named hotel_df and add "Hotel Name" column to the DataFrame.
hotel_df = pd.DataFrame()
fifth = pd.DataFrame(ideal_spots)
hotel_df['City'] = fifth['City']
hotel_df['Country'] = fifth['Country']
hotel_df['Lat'] = fifth['Latitude']
hotel_df['Lng'] = fifth['Longitude']
hotel_df['Hotel Name'] = ""
hotel_df

                     City Country      Lat       Lng Hotel Name
8             New Norfolk      AU -42.7826  147.0587
22                 Rawson      AR -43.3002  -65.1023
76                 Hobart      AU -42.8794  147.3294
102  Pedro Juan Caballero      PY -22.5472  -55.7333
117          General Roca      AR -39.0333  -67.5833
241              Colorado      BR -22.8375  -51.9731
358         Puerto Madryn      AR -42.7692  -65.0385
374               Caarapó      BR -22.6342  -54.8222
428      Puerto Escondido      MX  15.8500  -97.0667
488                Trelew      AR -43.2490  -65.3051
491                Sayyan      YE  15.1718   44.3244
510             Concordia      AR -31.3930  -58.0209
511           Thaba-Tseka      LS -29.5220   28.6084

In [24]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [25]:
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get restaurant type from df
    latitude = row['Lat']
    longitude = row['Lng']
    city = row['City']
    country = row['Country']

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}.")
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={latitude},{longitude}&radius=5000&type=hotel&key={g_key}").json()
    
    # extract results
    results = response['results']
    
    try:
        hotelname = response['results'][7]['name']
        print(f"Closest hotel to {city} at {latitude} , {longitude} is {hotelname}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotelname
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 8: New Norfolk.
Closest hotel to New Norfolk at -42.7826 , 147.0587 is Beaurepaires New Norfolk.
------------
Retrieving Results for Index 22: Rawson.
Closest hotel to Rawson at -43.3002 , -65.1023 is FM Municipal 87.9 Mhz.
------------
Retrieving Results for Index 76: Hobart.
Closest hotel to Hobart at -42.8794 , 147.3294 is The Henry Jones Art Hotel.
------------
Retrieving Results for Index 102: Pedro Juan Caballero.
Closest hotel to Pedro Juan Caballero at -22.5472 , -55.7333 is City of Ponta Pora.
------------
Retrieving Results for Index 117: General Roca.
Closest hotel to General Roca at -39.0333 , -67.5833 is Escuela Nº 275.
------------
Retrieving Results for Index 241: Colorado.
Closest hotel to Colorado at -22.8375 , -51.9731 is IBGE-Fundação Instituto Bras de Geografia e Estatística.
------------
Retrieving Results for Index 358: Puerto Madryn.
Closest hotel to Puerto Madryn at -42.7692 , -65.0385 is Hosteria Las Piedras.
------------
Retrieving Results for Index 374: Caarapó.
Closest hotel to Caarapó at -22.6342 , -54.8222 is Sindicato Rural de Caarapó.
------------
Retrieving Results for Index 428: Puerto Escondido.
Closest hotel to Puerto Escondido at 15.85 , -97.0667 is Hotel Paraiso Escondido.
------------
Retrieving Results for Index 488: Trelew.
Closest hotel to Trelew at -43.248999999999995 , -65.3051 is Hotel Libertador.
------------
Retrieving Results for Index 491: Sayyan.
Closest hotel to Sayyan at 15.1718 , 44.3244 is بحيره سد سيان.
------------
Retrieving Results for Index 510: Concordia.
Closest hotel to Concordia at -31.393 , -58.0209 is Centro Plaza Hotel.
------------
Retrieving Results for Index 511: Thaba-Tseka.
Closest hotel to Thaba-Tseka at -29.522 , 28.6084 is Masimong.
------------

In [26]:
# Display the hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
8,New Norfolk,AU,-42.7826,147.0587,Beaurepaires New Norfolk
22,Rawson,AR,-43.3002,-65.1023,FM Municipal 87.9 Mhz
76,Hobart,AU,-42.8794,147.3294,The Henry Jones Art Hotel
102,Pedro Juan Caballero,PY,-22.5472,-55.7333,City of Ponta Pora
117,General Roca,AR,-39.0333,-67.5833,Escuela Nº 275
241,Colorado,BR,-22.8375,-51.9731,IBGE-Fundação Instituto Bras de Geografia e Es...
358,Puerto Madryn,AR,-42.7692,-65.0385,Hosteria Las Piedras
374,Caarapó,BR,-22.6342,-54.8222,Sindicato Rural de Caarapó
428,Puerto Escondido,MX,15.8500,-97.0667,Hotel Paraiso Escondido
488,Trelew,AR,-43.2490,-65.3051,Hotel Libertador
491,Sayyan,YE,15.1718,44.3244,بحيره سد سيان
510,Concordia,AR,-31.3930,-58.0209,Centro Plaza Hotel
511,Thaba-Tseka,LS,-29.5220,28.6084,Masimong

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [28]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))